<div class="toolbar">
	<h1 id="pageTitle">
		Edit <%=@person.name%>
	</h1>
</div>

<form title="Edit Person" 
	  class="panel" 
	  id="person_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@person.object%>"/>
		
		  <div class="row">
			  <label>Name: </label>
			  <input type="text" name="person[name]" value="<%=@person.name%>"/>
		  </div>

    <% unless @person.latitude.nil? or @person.latitude.empty? %>
      <div class="row">
        <label>Latitude: </label>
        <input type="text" name="person[latitude]" value="<%=@person.latitude%>"/>
      </div>

      <div class="row">
        <label>Latitude: </label>
        <input type="text" name="person[longitude]" value="<%=@person.longitude%>"/>
      </div>
    <% end %>
    
    <div class="row">
      <label>City, State or Zip: </label>
      <input type="text" name="person[zip]" value="<%=@person.zip%>"/>
    </div>

		
		  <div class="row">
			  <label>Twitter: </label>
			  <input type="text" name="person[twitter]" value="<%=@person.twitter%>"/>
		  </div>
		
		  <div class="row">
			  <label>Url: </label>
			  <input type="text" name="person[url]" value="<%=@person.url%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @person.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
  	<p align="center">
		<a href="<%=url_for(:action => :index)%>">
			<font >Cancel</font>
		</a>
	</p>
</form>